@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 139 65% 20%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
  }

  .dark {
    /* --background: 240, 5%, 96%; */
    --background: 0 0 7%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
  }
}

body {
  overflow: auto !important;
}

.draggable {
  touch-action: none;
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
}

.divider {
  @apply w-full h-[2px] min-h-[2px] max-h-[2px] bg-gradient-to-r from-primary from-5% via-primary-foreground via-50% to-primary to-95%;
}

.dark .divider {
  @apply w-full h-[2px] min-h-[2px] max-h-[2px] bg-gradient-to-r from-primary from-10% via-primary-foreground via-50% to-primary to-90%;
}

/* globals.css or a CSS module */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}

.custom-marker-clustering-map {
  width: 100%;
  height: 100%;
}

.custom-marker-clustering-map .marker {
  box-sizing: border-box;
  border-radius: 50%;
  padding: 8px;
  translate: 0 50%;
  /* border: 1px solid white; */
  color: white;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  animation: appear 150ms both;
}

.custom-marker-clustering-map .marker svg {
  width: 100%;
  vector-effect: non-scaling-stroke;
}

.custom-marker-clustering-map .marker.feature {
  width: 40px;
  height: 40px;
  background-color: #3f5b72;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.custom-marker-clustering-map .marker.cluster {
  width: 56px;
  height: 56px;
  background-color: #618bad;
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  padding-bottom: 0;
}

.custom-marker-clustering-map .marker.cluster span {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  /* oversized by the padding of the container */
  width: 100%;
  text-align: center;
  margin-top: 6px;
  height: 30px;
}

/* THIS IS FOR THE GOOGLE MAPS OUTLINE BORDER */
.gm-style iframe + div {
  border: none !important;
}

section.progress-section {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-phone-input .PhoneInputInput {
  padding-left: 0.5rem; /* Adjust this value to increase/decrease padding */
}

.custom-phone-input .PhoneInputCountryIcon {
  margin-right: 0.25rem; /* Adjust this value to increase/decrease space */
}

.custom-phone-input .PhoneInputInput:focus {
  outline: var(--primary) !important;
  border-color: var(--primary) !important; /* Ensure it uses the primary color */
  box-shadow: 0 0 0 2px var(--primary) !important; /* Ensure it uses the primary color */
}

.light-mode .marker.cluster {
  background-color: #ffffff; /* light mode color */
}

.dark-mode .marker.cluster {
  background-color: #000000; /* dark mode color */
}

.light-mode .marker.feature {
  background-color: #ffffff; /* light mode color */
}

.dark-mode .marker.feature {
  background-color: #000000; /* dark mode color */
}

.light-mode .gm-style-iw {
  background-color: #ffffff !important; /* Override background color */
}

.dark-mode .gm-style-iw {
  background-color: #000000 !important; /* Override background color */
}

.light-mode .gm-style-iw-d {
  background-color: #ffffff !important; /* Override background color */
}

.dark-mode .view-link {
  background-color: #000000 !important; /* Override background color */
}

.light-mode .view-link {
  background-color: #ffffff !important; /* Override background color */
}

.light-mode .view-link a span {
  background-color: #ffffff; /* Your desired span text color */
  text-color: #000000;
}

.dark-mode .view-link a span {
  background-color: #000000; /* Your desired span text color */
  text-color: #ffffff;
}

.light-mode .gm-title.gm-full-width {
  background-color: #ffffff !important; /* Override text color */
}

.dark-mode .gm-title.gm-full-width {
  background-color: #000000 !important; /* Override text color */
}

.dark-mode .gm-style-iw-c {
  background-color: #000000 !important; /* Override background color */
}

.light-mode .gm-style-iw-tc::after {
  background-color: #ffffff !important; /* Override background color */
}

.dark-mode .gm-style-iw-tc::after {
  background-color: #000000 !important; /* Override background color */
}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
}

.gm-style .gm-style-iw-d {
  padding: 0 !important;
}

.gm-style-iw-ch {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 10px;
  font-weight: 400;
  align-items: center;
  justify-content: start;
}

.gm-style-iw-d {
  overflow: hidden !important;
  max-height: none !important;
}

.light-mode .gm-ui-hover-effect span {
  mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  pointer-events: none;
  display: block;
  width: 24px;
  height: 24px;
  margin: 12px;
  background-color: #000000; /* Your desired color */
}

.dark-mode .gm-ui-hover-effect span {
  mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  pointer-events: none;
  display: block;
  width: 24px;
  height: 24px;
  margin: 12px;
  background-color: #ffffff; /* Your desired color */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground tracking-wide font-light;
  }
}
